@import "reset";
@import "template/header.scss";
@import "template/footer.scss";



.hugecont {
   max-width: 100%;
   height: 100%;
   background-image: url("../img/sidepic.jpg");
   background-repeat: repeat;
   background-size: contain;
}


.fixnav {
   margin: auto;
   border-top-style: solid;
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-color: #66FCF1;
}


nav {
   background-color: #1F2833;
   list-style-type: none;
   text-align: center;
   padding: 0;
   margin: 0;
}


nav li {
   display: inline-block;
   font-size: 20px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;
}


nav li a {
   color: #66FCF1;
   font-weight: bold;
   font-style: italic;
   padding: 20px;
}

main {
   background-color: #0B0C10;
   width: 80%;
   height: 100%;
   margin: auto;
}

h2 {
   font-weight: bold;
   color: #C5C6C7;
   font-size: 32px;
   font-style: italic;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

h3 {
   font-weight: bold;
   color: #C5C6C7;
   font-size: 32px;
   font-style: italic;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

p {
   font-weight: bold;
   font-style: italic;
   color: #C5C6C7;
   text-align: center;
}

.grid-container {
   display: inline-grid;
   grid-template-rows: 300px 50px 300px 50px 300px 50px;
   grid-template-columns: 20%;
   width: 100%;
   grid-column-gap: 10px;
}



.grid-containers {
 display: grid;
 grid: auto;
 position: relative;
}

// INDEX PAGE
.item1 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
   // margin: auto;
}

.item1t {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
} 

.item2 {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
   // margin: auto;
}

.item2t {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 2;
   grid-row-end: 3;
}

.item3 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
   // margin: auto;
}

.item3t {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 4;
   grid-row-end: 5;
}

.item4 {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 4;
   // margin: auto;
}

.item4t {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 4;
   grid-row-end: 5;
}


.item5 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 5;
   grid-row-end: 6;
   // margin: auto;
}

.item5t {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 6;
   grid-row-end: 6;
}


.item6 {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 5;
   grid-row-end: 6;
   // margin: auto;
}


.item6t {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 6;
   grid-row-end: 6;
}

// GAME PAGE
.item7 {
   grid-column-start: 1;
   grid-column-end: 2;
   display: flex;
   justify-content: center;
   height: 300px;
   overflow: hidden;
}

.item8 {
   grid-column-start: 3;
   grid-column-end: 4;
   display: flex;
   justify-content: center;
   height: 300px;
   overflow: hidden;
}

.item9 {
   grid-column-start: 5;
   grid-column-end: 6;
   display: flex;
   justify-content: center;
   height: 300px;
   overflow: hidden;
}
// END OF GAME PAGE


.centter {
   display: flex;
   justify-content: center;
   padding-top: 15px;
   padding-bottom: 15px;
}



.placeholder {
   width: 45%;
   height: 250px;
   align-content: center;
   margin: auto;
}



a {
   color: #C5C6C7;
}

form {
   padding: 25px;
}


.nesto {
   display: flex;
   justify-content: center;
   height: 400px;
   overflow: hidden;
}




label {
   color: #C5C6C7;
}

.fill {
   height: 150px;
   width: 100%;
}

.logo {
   height: 70px;
   width: 70px;
}



div.overlay {
   position: fixed;
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, .6);
   display: none;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 
 div.gallery .item img {
   max-width: 300px;
 }




















 @media only screen and (max-width: 500) {
   .item1 {
      display: block;
   }
   .item1t {
      display: block;
   }
   .item2 {
      display: block;
   }
   .item2t {
      display: block;
   }
 }