@import "reset";
@import "template/header.scss";
@import "template/footer.scss";

aside {
   background-color: black;
   height: 100px;
   width: 250px;
   display: inline;

}


.pill-nav li a {
   {
   font-size: 20px;
}
